body {
    height: 400px;
    background-image: url("https://www.pinnacle.com/Cms_Data/Contents/Guest/Media/betting-articles/soccer/latam-soccer/liga-mx.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }

#Contenedor{
    background: linear-gradient(to right, #2a2a99, #1cb5e0);
    margin-top: 2em; margin-bottom: 2em;
    margin-left: 4em; margin-right: 4em;
     border-radius: 1em;
    height: auto;
}

#Cabecera{
    margin-bottom: 0.5em;
}

#BarraNavegacion{
    background-color: white;
    margin-bottom: 0.5em;
}

#BarraNavegacion ul{
    list-style-type: none;
    text-align: center;
 }

 #BarraNavegacion li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
 }

#Contenido{
    background-color: azure;
    height: 520px;
    border-radius: 0.3em;
    height: auto;
}
#Pie{
    background-color: black;
    height: auto;
    margin-top: 0.5em;
    border-radius: 0.3em;
}

/* Fuentes */
.font{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titulos{
    color: aliceblue;
    font-size: larger;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
}

.infoproductos{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:medium;
}

.vinculos{
    font-size: large;
    text-align: center;
    text-decoration:none;
}
.contenidos{
    font-size:small;
    text-align: justify;
    
}

.pie{
    color: aliceblue;
    font-size: smaller;
    text-align: center;
}

/* INTERFACE */

.sombra-borde {
    -webkit-box-shadow: 2px 4px 8px rgba(0,0,0,.5);
    -moz-box-shadow: 2px 4px 8px rgba(0,0,0,.5);
    box-shadow: 2px 4px 8px rgba(0,0,0,.5);
}
  
img{
    height: 300px;
    background-color: transparent;
    -webkit-box-shadow: 2px 4px 8px rgba(0,0,0,.5);
    -moz-box-shadow: 2px 4px 8px rgba(0,0,0,.5);
    box-shadow: 2px 4px 8px rgba(0,0,0,.5);
  }

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.imgindex{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
}

.imgindex div{
    text-align: center;
    height: 300px;
    width: auto;
}

.imgproductos{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;

}

.imgproductos div{
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: auto;
    width: 300px;
    margin-top: 1em;
}
